<p id="notice"><%= notice %></p>
<p>
	<b>Photo:</b>
	<%=image_tag @team.photo.url(:medium) %>
</p>
<p>
 
  <%= @team.name %>
</p>

<p>
  <b>Description:</b>
  <%= @team.description %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
